body {
  font-family: 'Dosis', sans-serif;
}

header {
  /*border-bottom: 1px solid black;*/
  background-color: rgb(130, 136, 167);
}

input[type="button"], button[type="submit"] {
  background-color: rgb(245, 240, 204);
  border-radius: 5px;
  font-size: 14px;
}

.field {
  border-bottom: 1px solid black;
  margin: 5px;
}

.restaurant-name {
  text-align: center;
}

.username {
  text-align: center;
}

.navbar {
  background-color: rgb(212, 198, 176);
  text-align: center;
}

.navlinks {
  /*border: 3px solid green;*/
  margin: 20px;
  padding: 5px;
  text-decoration: none;
  font-size: 28px;
  color: black;
  border-radius: 5px;
}

.navlinks:hover {
  background-color: rgb(245, 240, 204);
}
