/*body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}*/

/*.outer-frame {
  padding-top: 100px !important;
}*/
.reso-name {
  /*text-align: right;*/
  font-size: 16px;
}
/*.seat-party-form {
  max-width: 30px !important;
}*/
/*body {
  background-color: rgba(150, 150, 162, 0.73);
}*/

/*.icon {
  text-align: left;
}

.resos {
  text-align: right;
}*/
/*.resos > Icon {
  text-align: left;
}*/
